.question{ border:#009966 solid 1px;}

#questionsDom
{
    border: 1px solid green;
    height:100px;
    overflow-y: hidden;
}
#questionsList
{
    border: 1px solid red;
}
#questionsList .question
{
    border: 1px solid yellow;
    padding: 10px;
}

